
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
	background-color: whitesmoke;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/
#main {
	display: flex;
}
#select {
	width: 200px;
}
#chart_div {
	width: 1400px;
	height: 750px;
}
.p_str {
	margin-left: 2em;
}
#sort0 {
	margin-left: 2em;
}
#btn {
	margin-left: 2em;
	background: steelblue;
	padding: 0.2em 1.0em;
	border-radius: 0px;
	width: 5em;	
	color: snow;
}
#btn:hover {
	/* リンクをホバーしたときのカーソルにする。 */
	cursor: pointer;
}
#btn:active {
	position: relative;
	top: 0.5px;
}
